In [6]:
import keyring
import requests as rq
from io import BytesIO
import zipfile
import xmltodict
import json
import pandas as pd
from sqlalchemy import create_engine
import pymysql
from datetime import date
from dateutil.relativedelta import relativedelta
from tqdm import tqdm

In [7]:
ip = '43.202.42.147'
engine = create_engine(f'mysql+pymysql://jun:1234qwer@{ip}:3306/quant')
con = pymysql.connect(user='jun',
                      passwd='1234qwer',
                      host= ip,
                      db='quant',
                      charset='utf8')
mycursor = con.cursor()

In [8]:
sql_query = """
SELECT * FROM stock_price
"""

# con을 사용하여 데이터를 읽음
stock_price = pd.read_sql_query(sql_query, con)

/var/folders/c1/z5tw921j2td15y6sk95kpgn40000gn/T/ipykernel_49109/3333682024.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  stock_price = pd.read_sql_query(sql_query, con)

In [9]:
sql_query = """
SELECT * FROM kor_ticker
"""

# con을 사용하여 데이터를 읽음
kor_ticker = pd.read_sql_query(sql_query, con)

/var/folders/c1/z5tw921j2td15y6sk95kpgn40000gn/T/ipykernel_49109/4236339834.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  kor_ticker = pd.read_sql_query(sql_query, con)

In [10]:
sql_query = """
SELECT * FROM kor_sector
"""

# con을 사용하여 데이터를 읽음
kor_sector = pd.read_sql_query(sql_query, con)

/var/folders/c1/z5tw921j2td15y6sk95kpgn40000gn/T/ipykernel_49109/2037212080.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  kor_sector = pd.read_sql_query(sql_query, con)

In [11]:
sql_query = """
SELECT * FROM kor_value
"""

# con을 사용하여 데이터를 읽음
kor_value = pd.read_sql_query(sql_query, con)

/var/folders/c1/z5tw921j2td15y6sk95kpgn40000gn/T/ipykernel_49109/2379883202.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  kor_value = pd.read_sql_query(sql_query, con)

In [12]:
sql_query = """
SELECT * FROM fs_data
"""

# con을 사용하여 데이터를 읽음
fs_data = pd.read_sql_query(sql_query, con)

/var/folders/c1/z5tw921j2td15y6sk95kpgn40000gn/T/ipykernel_49109/1264720001.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  fs_data = pd.read_sql_query(sql_query, con)

In [10]:
sql_query = """
SELECT * FROM df
"""

# con을 사용하여 데이터를 읽음
df = pd.read_sql_query(sql_query, con)

,index,날짜,시가,고가,저가,종가,거래량,종목코드,종목명,SEC_NM_KOR,기준일,당기순이익,매출액,비유동부채,비유동자산,세전계속사업이익,영업이익,유동부채,유동자산,자본
0,0,2021-01-04,4615.0,4650.0,4530.0,4580.0,344232.0,095570,AJ네트웍스,산업재,2020-12-31,-33.0,8720.0,5913.0,12335.0,-185.0,211.0,7089.0,3547.0,2880.0
1,1,2021-01-05,4640.0,5240.0,4635.0,4935.0,1406380.0,095570,AJ네트웍스,산업재,2020-12-31,-33.0,8720.0,5913.0,12335.0,-185.0,211.0,7089.0,3547.0,2880.0
2,2,2021-01-06,4945.0,4945.0,4700.0,4710.0,660674.0,095570,AJ네트웍스,산업재,2020-12-31,-33.0,8720.0,5913.0,12335.0,-185.0,211.0,7089.0,3547.0,2880.0
3,3,2021-01-07,4710.0,4755.0,4615.0,4695.0,202736.0,095570,AJ네트웍스,산업재,2020-12-31,-33.0,8720.0,5913.0,12335.0,-185.0,211.0,7089.0,3547.0,2880.0
4,4,2021-01-08,4650.0,4665.0,4520.0,4540.0,390267.0,095570,AJ네트웍스,산업재,2020-12-31,-33.0,8720.0,5913.0,12335.0,-185.0,211.0,7089.0,3547.0,2880.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1501312,1501312,2023-09-14,6330.0,7170.0,6300.0,6610.0,240627.0,238490,힘스,IT,2022-12-31,-52.5,195.5,18.0,488.0,-72.5,-70.0,158.0,307.0,619.0
1501313,1501313,2023-09-15,6640.0,6670.0,6520.0,6610.0,28387.0,238490,힘스,IT,2022-12-31,-52.5,195.5,18.0,488.0,-72.5,-70.0,158.0,307.0,619.0
1501314,1501314,2023-09-18,6610.0,6610.0,6350.0,6400.0,29544.0,238490,힘스,IT,2022-12-31,-52.5,195.5,18.0,488.0,-72.5,-70.0,158.0,307.0,619.0
1501315,1501315,2023-09-19,6400.0,6460.0,6350.0,6370.0,9452.0,238490,힘스,IT,2022-12-31,-52.5,195.5,18.0,488.0,-72.5,-70.0,158.0,307.0,619.0
1501316,1501316,2023-09-20,6370.0,6430.0,6310.0,6370.0,13180.0,238490,힘스,IT,2022-12-31,-52.5,195.5,18.0,488.0,-72.5,-70.0,158.0,307.0,619.0

kor_ticker
kor_sector
kor_value
stock_price
fs_data

In [16]:
len(fs_data['계정'].unique())

534

In [13]:
stock_price

,level_0,index,날짜,시가,고가,저가,종가,거래량,종목코드,종목명
0,0,0,2018-09-20,6810.0,7120.0,6670.0,7030.0,181397.0,095570,AJ네트웍스
1,1,1,2018-09-21,7110.0,7130.0,6270.0,6490.0,359049.0,095570,AJ네트웍스
2,2,2,2018-09-27,6600.0,6600.0,6220.0,6360.0,210740.0,095570,AJ네트웍스
3,3,3,2018-09-28,6530.0,6530.0,5980.0,6160.0,171325.0,095570,AJ네트웍스
4,4,4,2018-10-01,6160.0,6350.0,6050.0,6180.0,77744.0,095570,AJ네트웍스
...,...,...,...,...,...,...,...,...,...,...
2671740,2671740,1229,2023-09-14,6330.0,7170.0,6300.0,6610.0,240627.0,238490,힘스
2671741,2671741,1230,2023-09-15,6640.0,6670.0,6520.0,6610.0,28387.0,238490,힘스
2671742,2671742,1231,2023-09-18,6610.0,6610.0,6350.0,6400.0,29544.0,238490,힘스
2671743,2671743,1232,2023-09-19,6400.0,6460.0,6350.0,6370.0,9452.0,238490,힘스
2671744,2671744,1233,2023-09-20,6370.0,6430.0,6310.0,6370.0,13180.0,238490,힘스

In [18]:
stock_price.drop(['level_0', 'index'], axis=1, inplace=True)

In [19]:
kor_sector.drop(['level_0', 'index'], axis=1, inplace=True)

In [21]:
stock_price.tail()

                 날짜      시가      고가      저가      종가       거래량    종목코드 종목명
2671740  2023-09-14  6330.0  7170.0  6300.0  6610.0  240627.0  238490  힘스
2671741  2023-09-15  6640.0  6670.0  6520.0  6610.0   28387.0  238490  힘스
2671742  2023-09-18  6610.0  6610.0  6350.0  6400.0   29544.0  238490  힘스
2671743  2023-09-19  6400.0  6460.0  6350.0  6370.0    9452.0  238490  힘스
2671744  2023-09-20  6370.0  6430.0  6310.0  6370.0   13180.0  238490  힘스

In [20]:
kor_sector.tail()

     IDX_CD  CMP_CD CMP_KOR SEC_NM_KOR        기준일
2407    G45  065690     파커스         IT 2023-09-18
2408    G45  067730    로지시스         IT 2023-09-18
2409    G45  032960    동일기연         IT 2023-09-18
2410    G45  067770   세진티에스         IT 2023-09-18
2411    G45  033200     모아텍         IT 2023-09-18

1. stock_code 테이블에 kor_sector 테이블에 있는 SEC_NM_KOR 컬럼 추가  (조건 : stock_code 테이블에 '종목코드' 컬럼 == kor_sector 테이블에 'CMP_CD'컬럼)

In [23]:
merged_df = pd.merge(stock_price, kor_sector[['CMP_CD', 'SEC_NM_KOR']], left_on='종목코드', right_on='CMP_CD', how='left')

In [25]:
merged_df.drop(columns=['CMP_CD'], inplace=True)

In [26]:
merged_df

,날짜,시가,고가,저가,종가,거래량,종목코드,종목명,SEC_NM_KOR
0,2018-09-20,6810.0,7120.0,6670.0,7030.0,181397.0,095570,AJ네트웍스,산업재
1,2018-09-21,7110.0,7130.0,6270.0,6490.0,359049.0,095570,AJ네트웍스,산업재
2,2018-09-27,6600.0,6600.0,6220.0,6360.0,210740.0,095570,AJ네트웍스,산업재
3,2018-09-28,6530.0,6530.0,5980.0,6160.0,171325.0,095570,AJ네트웍스,산업재
4,2018-10-01,6160.0,6350.0,6050.0,6180.0,77744.0,095570,AJ네트웍스,산업재
...,...,...,...,...,...,...,...,...,...
2671740,2023-09-14,6330.0,7170.0,6300.0,6610.0,240627.0,238490,힘스,IT
2671741,2023-09-15,6640.0,6670.0,6520.0,6610.0,28387.0,238490,힘스,IT
2671742,2023-09-18,6610.0,6610.0,6350.0,6400.0,29544.0,238490,힘스,IT
2671743,2023-09-19,6400.0,6460.0,6350.0,6370.0,9452.0,238490,힘스,IT
2671744,2023-09-20,6370.0,6430.0,6310.0,6370.0,13180.0,238490,힘스,IT

In [29]:
df = merged_df.astype({'날짜': 'datetime64[ns]'})

In [30]:
df

,날짜,시가,고가,저가,종가,거래량,종목코드,종목명,SEC_NM_KOR
0,2018-09-20,6810.0,7120.0,6670.0,7030.0,181397.0,095570,AJ네트웍스,산업재
1,2018-09-21,7110.0,7130.0,6270.0,6490.0,359049.0,095570,AJ네트웍스,산업재
2,2018-09-27,6600.0,6600.0,6220.0,6360.0,210740.0,095570,AJ네트웍스,산업재
3,2018-09-28,6530.0,6530.0,5980.0,6160.0,171325.0,095570,AJ네트웍스,산업재
4,2018-10-01,6160.0,6350.0,6050.0,6180.0,77744.0,095570,AJ네트웍스,산업재
...,...,...,...,...,...,...,...,...,...
2671740,2023-09-14,6330.0,7170.0,6300.0,6610.0,240627.0,238490,힘스,IT
2671741,2023-09-15,6640.0,6670.0,6520.0,6610.0,28387.0,238490,힘스,IT
2671742,2023-09-18,6610.0,6610.0,6350.0,6400.0,29544.0,238490,힘스,IT
2671743,2023-09-19,6400.0,6460.0,6350.0,6370.0,9452.0,238490,힘스,IT
2671744,2023-09-20,6370.0,6430.0,6310.0,6370.0,13180.0,238490,힘스,IT

2. fs_data에서 갖고올 데이터 : 매출액, 당기순이익, 영업이익, 세전계속사업이익, 유동자산, 비유동자산, 유동부채, 비유동부채, 자본

In [31]:
fs_columns_list = ['매출액', '당기순이익', '영업이익', '세전계속사업이익', '유동자산', '비유동자산', '유동부채', '비유동부채', '자본']

In [32]:
filtered_fs_data = fs_data[fs_data['계정'].isin(fs_columns_list)]

In [34]:
filtered_fs_data.drop(['level_0', 'index'], axis=1, inplace=True)

/var/folders/c1/z5tw921j2td15y6sk95kpgn40000gn/T/ipykernel_49109/1820482559.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_fs_data.drop(['level_0', 'index'], axis=1, inplace=True)

In [35]:
filtered_fs_data

               계정         기준일       값    종목코드 공시구분
0             매출액  2020-12-31  8720.0  095570    y
9            영업이익  2020-12-31   211.0  095570    y
31       세전계속사업이익  2020-12-31  -185.0  095570    y
35          당기순이익  2020-12-31   -33.0  095570    y
39           유동자산  2020-12-31  3547.0  095570    y
...           ...         ...     ...     ...  ...
1803656      유동자산  2023-06-30   482.0  238490    q
1803664     비유동자산  2023-06-30   551.0  238490    q
1803674      유동부채  2023-06-30   374.0  238490    q
1803681     비유동부채  2023-06-30    18.0  238490    q
1803685        자본  2023-06-30   640.0  238490    q

[144942 rows x 5 columns]

In [36]:
pivot_fs_data = pd.pivot_table(filtered_fs_data, index=['종목코드','기준일'], columns='계정', values=['값'])

In [37]:
pivot_fs_data['값']

계정                 당기순이익     매출액   비유동부채    비유동자산  세전계속사업이익   영업이익     유동부채  \
종목코드   기준일
000020 2020-12-31  287.0  2721.0   236.0   2111.0     336.0  232.0    675.0
       2021-12-31  196.0  2930.0   212.0   2276.0     265.0  225.0    665.0
       2022-09-30   68.0   835.0   226.0   2364.0      95.0   74.0    739.0
       2022-12-31  120.5  2124.5    69.0   2336.0     100.5  166.0    756.0
       2023-03-31  129.0   994.0    82.0   2413.0     169.0  122.0    818.0
...                  ...     ...     ...      ...       ...    ...      ...
453340 2023-06-30  208.0  5205.0   119.0   4765.0     285.0  279.0   1832.0
456040 2023-06-30  150.0  3442.0  1040.0   9588.0     185.0  152.0   9311.0
457190 2023-06-30   23.0   295.0   106.0   1250.0      29.0   38.0    999.0
460850 2023-06-30   31.0  1876.0   639.0   9807.0      40.0   56.0   7775.0
460860 2023-06-30  390.0  4305.0  3338.0  21185.0     514.0  515.0  16470.0

계정                    유동자산       자본
종목코드   기준일
000020 2020-12-31   2227.0   3427.0
       2021-12-31   2202.0   3601.0
       2022-09-30   2321.0   3720.0
       2022-12-31   2275.0   3787.0
       2023-03-31   2357.0   3870.0
...                    ...      ...
453340 2023-06-30   3526.0   6340.0
456040 2023-06-30  10287.0   9524.0
457190 2023-06-30    887.0   1033.0
460850 2023-06-30   8226.0   9619.0
460860 2023-06-30  14927.0  16304.0

[14016 rows x 9 columns]

In [38]:
# filter_pivot_df = filtered_fs_data[filtered_fs_data['종목코드']== '000020'].pivot_table(index=['기준일'], columns='계정', values=['값'])
filter_pivot_df = filtered_fs_data.pivot_table(index=['종목코드','기준일'], columns='계정', values=['값'])

In [39]:
norm_df = pivot_fs_data['값'].reset_index()

In [40]:
norm_df = norm_df.astype({'기준일': 'datetime64[ns]'})

In [41]:
fs_data_year = norm_df[norm_df['기준일'].dt.month == 12]

In [50]:
fs_data_year.tail()

계정,종목코드,기준일,당기순이익,매출액,비유동부채,비유동자산,세전계속사업이익,영업이익,유동부채,유동자산,자본,연도
13997,445680,2022-12-31,-115.0,72.0,19.0,347.0,-113.0,-114.0,28.0,139.0,439.0,2022
13999,446070,2022-12-31,10.0,292.0,34.0,769.0,18.0,14.0,181.0,1367.0,1921.0,2022
14002,448710,2020-12-31,14.0,247.0,NaN,34.0,16.0,13.0,77.0,215.0,172.0,2020
14003,448710,2021-12-31,23.0,319.0,10.0,49.0,27.0,27.0,135.0,258.0,162.0,2021
14004,448710,2022-12-31,23.0,418.0,9.0,51.0,28.0,28.0,173.0,292.0,161.0,2022

In [53]:

# # stock_price와 fs_data_year의 연도 추출
# stock_price['연도'] = pd.to_datetime(stock_price['날짜']).dt.year
# fs_data_year['연도'] = fs_data_year['기준일'].dt.year

# stock_price의 연도를 1년 뒤로 이동
fs_data_year['연도'] += 1

# 연도가 일치하고 종목코드가 일치하는 경우에만 병합
merged_data = stock_price.merge(
    fs_data_year,
    left_on=['종목코드', '연도'],
    right_on=['종목코드', '연도'],
    how='left'
)

/var/folders/c1/z5tw921j2td15y6sk95kpgn40000gn/T/ipykernel_49109/1485703362.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fs_data_year['연도'] += 1

In [54]:
merged_data

,날짜,시가,고가,저가,종가,거래량,종목코드,종목명,SEC_NM_KOR,연도,기준일,당기순이익,매출액,비유동부채,비유동자산,세전계속사업이익,영업이익,유동부채,유동자산,자본
0,2018-09-20,6810.0,7120.0,6670.0,7030.0,181397.0,095570,AJ네트웍스,산업재,2018,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-09-21,7110.0,7130.0,6270.0,6490.0,359049.0,095570,AJ네트웍스,산업재,2018,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-09-27,6600.0,6600.0,6220.0,6360.0,210740.0,095570,AJ네트웍스,산업재,2018,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-09-28,6530.0,6530.0,5980.0,6160.0,171325.0,095570,AJ네트웍스,산업재,2018,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-10-01,6160.0,6350.0,6050.0,6180.0,77744.0,095570,AJ네트웍스,산업재,2018,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2671740,2023-09-14,6330.0,7170.0,6300.0,6610.0,240627.0,238490,힘스,IT,2023,2022-12-31,-52.5,195.5,18.0,488.0,-72.5,-70.0,158.0,307.0,619.0
2671741,2023-09-15,6640.0,6670.0,6520.0,6610.0,28387.0,238490,힘스,IT,2023,2022-12-31,-52.5,195.5,18.0,488.0,-72.5,-70.0,158.0,307.0,619.0
2671742,2023-09-18,6610.0,6610.0,6350.0,6400.0,29544.0,238490,힘스,IT,2023,2022-12-31,-52.5,195.5,18.0,488.0,-72.5,-70.0,158.0,307.0,619.0
2671743,2023-09-19,6400.0,6460.0,6350.0,6370.0,9452.0,238490,힘스,IT,2023,2022-12-31,-52.5,195.5,18.0,488.0,-72.5,-70.0,158.0,307.0,619.0
2671744,2023-09-20,6370.0,6430.0,6310.0,6370.0,13180.0,238490,힘스,IT,2023,2022-12-31,-52.5,195.5,18.0,488.0,-72.5,-70.0,158.0,307.0,619.0

In [58]:
merged_data = merged_data[[
    '날짜', '시가', '고가', '저가', '종가', '거래량', '종목코드', '종목명', 'SEC_NM_KOR',
    '당기순이익', '매출액', '비유동부채', '비유동자산', '세전계속사업이익', '영업이익', '유동부채', '유동자산', '자본'
]]

In [59]:
df = merged_data

In [60]:
df

,날짜,시가,고가,저가,종가,거래량,종목코드,종목명,SEC_NM_KOR,당기순이익,매출액,비유동부채,비유동자산,세전계속사업이익,영업이익,유동부채,유동자산,자본
0,2018-09-20,6810.0,7120.0,6670.0,7030.0,181397.0,095570,AJ네트웍스,산업재,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-09-21,7110.0,7130.0,6270.0,6490.0,359049.0,095570,AJ네트웍스,산업재,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-09-27,6600.0,6600.0,6220.0,6360.0,210740.0,095570,AJ네트웍스,산업재,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-09-28,6530.0,6530.0,5980.0,6160.0,171325.0,095570,AJ네트웍스,산업재,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-10-01,6160.0,6350.0,6050.0,6180.0,77744.0,095570,AJ네트웍스,산업재,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2671740,2023-09-14,6330.0,7170.0,6300.0,6610.0,240627.0,238490,힘스,IT,-52.5,195.5,18.0,488.0,-72.5,-70.0,158.0,307.0,619.0
2671741,2023-09-15,6640.0,6670.0,6520.0,6610.0,28387.0,238490,힘스,IT,-52.5,195.5,18.0,488.0,-72.5,-70.0,158.0,307.0,619.0
2671742,2023-09-18,6610.0,6610.0,6350.0,6400.0,29544.0,238490,힘스,IT,-52.5,195.5,18.0,488.0,-72.5,-70.0,158.0,307.0,619.0
2671743,2023-09-19,6400.0,6460.0,6350.0,6370.0,9452.0,238490,힘스,IT,-52.5,195.5,18.0,488.0,-72.5,-70.0,158.0,307.0,619.0
2671744,2023-09-20,6370.0,6430.0,6310.0,6370.0,13180.0,238490,힘스,IT,-52.5,195.5,18.0,488.0,-72.5,-70.0,158.0,307.0,619.0

In [61]:
df.to_sql(name="dl_data", con=engine, index=True, if_exists='append')

2671745

In [ ]:
sql_query = """
SELECT * FROM df
"""

# con을 사용하여 데이터를 읽음
df = pd.read_sql_query(sql_query, con)

In [13]:
engine = create_engine('mysql+pymysql://jun:1234qwer@54.180.154.238:3306/quant')
con = pymysql.connect(user='jun',
                      passwd='1234qwer',
                      host='54.180.154.238',
                      db='quant',
                      charset='utf8')
mycursor = con.cursor()

In [14]:
df.to_sql(name="df", con=engine, index=True, if_exists='append')

1501317

In [15]:
stock_price.to_sql(name="stock_price", con=engine, index=True, if_exists='append')
kor_ticker.to_sql(name="kor_ticker", con=engine, index=True, if_exists='append') 
kor_sector.to_sql(name="kor_sector", con=engine, index=True, if_exists='append') 
kor_value.to_sql(name="kor_value", con=engine, index=True, if_exists='append') 
fs_data.to_sql(name="fs_data", con=engine, index=True, if_exists='append')

1803734

In [ ]:
stock_price.to_sql(name="stock_price", con=engine, index=True, if_exists='append')

In [5]:
import matplotlib.pyplot as plt
plt.rcParams['font.family'] = 'NanumGothic'